:root{
    --title-font: 'Noto Sans', sans-serif;
    --text-font: -apple-system, sans-serif;
    --cursive-font: "Quintessential", serif;
    --styled-font: 'Host Grotesk', sans-serif;
}
html {
    font-size: clamp(14px, 1.1vw, 18px);
    scroll-behavior: smooth;
}
body{
    background-color: #1E1E1E;
}
body::-webkit-scrollbar{
    width: 0px;
    height: 0px;
    display: none;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 1px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

span, p, a, li, label{
    font-family: var(--text-font);
    color: #FFFFFF;
}

span, p, a, li, label, h1, h2, h3{
    user-select: none;
}

button{
    font-family: var(--text-font);
    text-decoration: none;
    padding: 10px 30px;
    text-align: center;
    border: 2px solid #FF5733;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
    color: #FFFFFF;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #FF5733;
    color: #FFFFFF;
}

button:active{
    background-color: black;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--title-font);
    color: #FFFFFF;
}

/* Navbar */

.navbar{
    display: flex;
    padding: 0.4rem 1.6rem;
    align-items: center;
    justify-items: center;
    list-style: none;
    width: fit-content;
    background-color: rgba(44, 44, 44, 0.5);
    -webkit-backdrop-filter: blur(30px) saturate(100%);
    backdrop-filter: blur(30px) saturate(100%);
    border-radius: 5rem;
    margin: 0.4rem auto;
    position: fixed;
    top: 0;
    left: 50%;
    gap: 1rem;
    transform: translateX(-50%);
    z-index: 1000;
}

.nav__logo img{
    width: 2.4rem;
    height: 2.4rem;
    transition: all 0.15s ease;
}

.nav__logo img:hover{
    transform: scale(1.1);
}

.nav__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    height: fit-content;
}



.nav__list li{
    text-align: center;
}

.nav__list li a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav__list li a:hover{
    color: #FF5733;
}

/* Home */

.title{
    position: relative;
    font-weight: bolder;
    font-size: 6.8rem;
    letter-spacing: 0.08rem;
    color: transparent;
    -webkit-text-stroke: 0.05rem #FFFFFF;
    cursor: default;
    transition: all 0.3s ease;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0.4rem;
}

.title:hover{
    color: #FFFFFF;
    -webkit-text-stroke: -1px;
}

.home{
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}
.home__container{
    flex-direction: column;
    justify-items: center;
    padding: 0 4vw;
    width: 50%;
}
.home__title, .home__dynamic__title{
    font-size: 2rem;
    font-weight: bold;
    margin: 0 auto;
    font-family: var(--styled-font);
}

#cursor {
    display: inline-block;
    margin-left: 5px;
    animation: blink 0.7s infinite; /* Animación para el parpadeo */
    margin: 0px;
}

#cursor[not-animated] {
    animation: none;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.home__lowerbunk{
    margin-top: 1cqi;
    position: relative;
    align-items: center;
    justify-items: center;
}

.home__description{
    font-size: 1.4rem;
    font-family: var(--text-font);
}

.home__buttons{
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
}

.home__buttons > a{
    text-decoration: none;
    font-family: var(--styled-font);
    padding: 1.75vh 1.5vw;
    text-align: center;
    border: 0.15rem solid #FF5733;
    border-radius: 1.5rem;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.home__buttons > a:hover{
    background-color: #FF5733;
    color: #FFFFFF;
}

.home__image{
    width: 40vw;
    height: 90%;
    border-radius: 30px;
}

/* About us */

#about{
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
}

#about-content{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-height: 100vh;
    size: 50%;
}

.about__container{
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 0;
    width: 30vw;
    margin: 0 auto;
    height: fit-content;
    border-radius: 30px;
    background-color: transparent;
}

#about-img{
    position: relative;
    width: 65vw;
    height: 100vh;
    border-radius: 15px;
    margin: 0 auto;
    opacity: 0;
    overflow: hidden;

    /* Tu configuración de fondo */
    background-image: linear-gradient(#FF5733, #FF5733);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 0% 100px;
    transition: background-size 0.5s ease;
}

#about-title{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
}

.about__title{
    font-size: 3.8rem;
    opacity: 1;
}

.about__title .word{
    font-size: 4.75cqi;
    font-family: var(--styled-font);
    display: inline-block;
    opacity: 0;
    color: transparent;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.025rem;
    transition: background-size 0s ease, color 0.3s ease;
    cursor: default;
}

.about__text{
    font-size: 2.2rem;
    opacity: 1;
}

.about__text .word{
    font-size: 2.2rem;
    font-family: var(--styled-font);
    display: inline-block;
    opacity: 0;
    color: transparent;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.025rem;
    transition: background-size 0s ease, color 0.3s ease;
    cursor: default;
}

#about-text-2-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
}

.about__text--2, .projects__endtext{
    font-size: 2.2rem;
    opacity: 1;
}

.about__text--2 .word, .projects__endtext .word{
    opacity: 0;
    color: transparent;
    font-size: 2.2rem;
    font-family: var(--styled-font);
    display: inline-block;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.025rem;
    transition: background-size 0.5s ease, color 0.3s ease;
    cursor: default;
}

/* Projects */

#projects-title-container, #projects-end-text-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
}

.projects__title{
    text-align: center;
    font-size: 2.2rem;
    opacity: 1;
    font-family: var(--styled-font);
}

.projects__title .word{
    opacity: 0;
    color: transparent;
    font-size: 2.2rem;
    font-family: var(--styled-font);
    display: inline-block;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.025rem;
    cursor: default;
}

.projects_container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: row;
}

.project_icon{
    display: flex;
    margin-top: 3vh;
    width: 10vw;
    height: 10vh;
    opacity: 0.7;
}

.project_content_space{
    display: grid;
    place-items: center; /* ¡Magia! Centra todo en un solo paso */
    width: 60vh;
    height: 35vh;
    margin: auto 1vw;
    perspective: 50vi; /* Clave: da la sensación de profundidad 3D */
}

.project_content{
    background-color: rgba(44, 44, 44, 0.8);
    -webkit-backdrop-filter: blur(40px) saturate(100%);
    backdrop-filter: blur(40px) saturate(100%);
    border-radius: 3rem;
    opacity: 0;
    width: 100%;
    height: 100%;
    justify-items: center;
    text-align: center;
    transform-style: preserve-3d; /* Permite que los hijos tmb sean 3D */
    will-change: transform;
    overflow-x: hidden;
}

.project_content a{
    font-family: var(--title-font);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s ease;
    margin-top: 2.5cqb;
}

.project_content a:hover{
    transform: scale(1.2);
    color: rgb(77, 77, 206);
}

.project_content a:active{
    transform: scale(1.1);
    color: transparent;
    -webkit-text-stroke-color: rgb(47, 47, 169);
    -webkit-text-stroke-width: 0.03rem;
    transition: all 0.2s ease;
}

.project_description{
    position: absolute;
    justify-content: center;
    justify-items: center;
    text-align: center;
    bottom: 5vh;
}

.project_content p{
    font-family: var(--styled-font);
    font-weight: lighter;
    font-size: 1rem;
    margin: auto 2vh;
}
/* Knowledge */

.knowledge{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

#knowledge-title-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
}

.knowledge__title{
    font-size: 2.2rem;
    opacity: 1;
}

.knowledge__title .word{
    font-size: 2.2rem;
    font-family: var(--styled-font);
    display: inline-block;
    opacity: 0;
    color: transparent;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.025rem;
    transition: background-size 0s ease, color 0.3s ease;
    cursor: default;
}

.knowledge__container{
    font-size: 2.2rem;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.knowledge__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 12rem;
    max-width: 12rem;
}

.knowledge__item img{
    opacity: 0;
    display: flex;
    margin: 0 auto;
    width: 9.5rem;
    height: auto;
}

.knowledge__container .word{
    margin-top: 0;
    font-size: 2.5cqi;
    font-family: var(--styled-font);
    display: inline-block;
    opacity: 0;
    color: transparent;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.025rem;
    transition: background-size 0s ease, color 0.3s ease;
    cursor: default;
}

/* AI */

#knowledge-tease-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
}

.knowledge__tease{
    font-size: 2.2rem;
    opacity: 1;
}

.knowledge__tease .word{
    font-size: 2.2rem;
    font-family: var(--styled-font);
    display: inline-block;
    opacity: 0;
    color: transparent;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.025rem;
    transition: background-size 0s ease, color 0.3s ease;
    cursor: default;
}

.ai{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
}

#ai-title-container{
    display: flex;
    width: 100vw;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    z-index: 10;
}

.ai__title{
    font-size: 2.2rem;
    opacity: 1;
    margin: 0;
}

.ai__title p{
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ai__title .word{
    font-size: 2.2rem;
    font-family: var(--styled-font);
    display: inline-block;
    opacity: 0;
    color: transparent;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.025rem;
    transition: background-size 0s ease, color 0.3s ease;
    cursor: default;
}

#ai-content{
    display: flex;
    flex-direction: row;
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
    size: 50%;
}

.ai__container{
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 30vw;
    height: min-content;
    margin: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: transparent;
    z-index: 5;
}

#ai-img{
    position: absolute;
    left: 0;
    width: 100cqw;
    height: 100cqh;
    object-fit: cover;
    border-radius: 15px;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    z-index: 0;
    -webkit-mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
}

.ai__text{
    font-size: 2.2rem;
    opacity: 1;
    margin: 0;
}

.ai__text .word{
    font-size: 2.2rem;
    font-family: var(--styled-font);
    display: inline-block;
    opacity: 0;
    color: transparent;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.025rem;
    transition: background-size 0s ease, color 0.3s ease;
    cursor: default;
}

/* Contact */

.contact{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#contact-hint-container{
    display: flex;
    width: 100vw;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
}

.contact__hint{
    font-size: 2.2rem;
    opacity: 1;
    margin: 0;
}

.contact__hint p{
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contact__hint .word{
    font-size: 2.2rem;
    font-family: var(--styled-font);
    display: inline-block;
    opacity: 0;
    color: transparent;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.025rem;
    transition: background-size 0s ease, color 0.3s ease;
    cursor: default;
}

#contact-title-container{
    margin-top: 1.5rem;
    margin-bottom: 4.5rem;
}

.contact__title{
    font-size: 2.2rem;
    opacity: 1;
    margin: 0;
}

.contact__title p{
    margin: 0;
}

.contact__title .word{
    font-size: 2.2rem;
    font-family: var(--styled-font);
    display: inline-block;
    opacity: 0;
    color: transparent;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.025rem;
    transition: background-size 0s ease, color 0.3s ease;
    cursor: default;
}

.contact__content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5rem;
    width: 75%;
}

.contact__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 14.5rem;
}

#contact-text-container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: transparent;
    border-radius: 3rem;
}

.contact__subtitle{
    font-family: var(--cursive-font);
    width: 25cqi;
    font-size: 2.2rem;
}

.contact__subtitle p{
    margin: 0;
}

.contact__subtitle .word{
    font-size: 2.2rem;
    font-family: var(--cursive-font);
    display: inline-block;
    opacity: 0;
    color: transparent;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.025rem;
    transition: background-size 0s ease, color 0.3s ease;
    cursor: default;
}

.social__links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    position: relative;
    top: 2rem;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.025);
    padding: 1.5rem 1.5rem;
    border-radius: 3rem;
    opacity: 0;
    transition: all 0.3s ease;
}

.social__links img{
    width: 1.5rem;
    filter: invert(75%);
    transition: all 0.15s ease;
}

.social__links img:hover{
    transform: scale(1.1);
    filter: invert(75%);
}

.contact__container{
    margin-bottom: 20px;
    height: 27rem;
}

.contact__form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 29.5rem;
    height: 100%;
    opacity: 0;
}

.contact__form label{
    font-family: var(--styled-font);
    font-size: 2.2rem;
    opacity: 0.3;
    width: fit-content;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 1cqi;
}

input::placeholder, textarea::placeholder{
    color: #FFFFFF;
    opacity: 0.5;
    font-family: var(--text-font);
    font-style: italic;
    text-align: center;
}

input::selection, textarea::selection{
    color: black;
    background-color: #FF5733;
}

input:hover, textarea:hover{
    outline: 1px solid #FF5733;
    opacity: 0.75;
}

input:focus, textarea:focus{
    outline: 1.5px solid #FF5733;
    opacity: 1;
}

input, textarea{
    gap: .5rem;
    margin: 0 auto;
    opacity: 0.4;
    border: none;
    background-color: rgba(0, 0, 0, 1);
    outline: 2px solid rgba(255, 255, 255, 0.05);
    font-family: var(--styled-font);
    border-radius: 1rem;
    transition: all 0.3s ease;
    color: #FFFFFF;
}

.contact__name{
    display: flex;
    flex-direction: row;
}

.contact__form input{
    height: 2rem;
}

.contact__form input[type="email"]{
    height: 2rem;
}

.contact__name input{
    width: 80%;
}

.contact_form_text{
    padding: 0 0.5cqi;
    font-family: var(--styled-font)
}

.contact__form button{
    font-family: var(--styled-font);
    font-weight: 450;
    width: 30%;
    align-self: center;
}

.contact__container textarea{
    resize: none;
}

.contact_form_text::-webkit-scrollbar{
    width: 0px;
    height: 0px;
    display: none;
}

/* Footer */

#copyright-footer{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
}

footer{
    background-color: #000000;
    border-radius: 15px 15px 0 0;
}

/*         WORD-PRESETS            */
.word[alreadyAnimated]{
    color: white;
}

.word[underline], .word[underline_end]{
    background-image: linear-gradient(#FF5733, #FF5733);
    background-position: 0 100%; /* Abajo a la izquierda */
    background-repeat: no-repeat;
    background-size: 0% 0.1em; /* Arranca con 0% de ancho */
}

.word[underline][alreadyAnimated]{
    background-size: 100% 0.1em;
}

.word[underline_end][alreadyAnimated]{
    background-size: 95% 0.1em; /* Arranca con 0% de ancho */
}

.word[highlight]{
    -webkit-text-stroke-color: #FF5733;
}

.word[highlight][alreadyAnimated]{
    color: #FF5733;
}

.word[clear]{
    color: transparent;
}

.word[clear][alreadyAnimated]{
    --x: 50%; /* Posición inicial del brillo */
    color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    
    /* Gradiente tipo 'radial' para que parezca un foco de luz */
    background: radial-gradient(
        circle at var(--x) 10%, 
        rgba(255, 255, 255, 0.2) 0%, 
        rgba(255, 255, 255, 0.2) 30%, 
        transparent 100%
    );
    
    -webkit-background-clip: text;
    background-clip: text;
    
    /* Borde de la letra para que se note el relieve */
    -webkit-text-stroke: 0.02rem rgba(255, 255, 255, 0.3);
}

.word[clear][alreadyAnimated]:hover{
    /* Color de base transparente para que se vea el fondo */
    color: rgba(255, 255, 255, 0.1);
}

.word[multicolor]{
    background: linear-gradient(to left, #3498db, #9b59b6, #2ecc71, #3498db);
    background-size: 400%;
    background-position-x: left;
    
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-stroke-color: transparent;
    color: transparent;
}

.word[multicolor][alreadyAnimated]{
    background-position-x: right;
}

.word[multicolor][alreadyAnimated]:hover{
    background-position-x: left;
    color: rgba(255, 255, 255, 0.1);
}

.word:hover, .word[alreadyAnimated]:hover{
    color: transparent;
}

@media screen and (max-width: 745px) {
    .title{
        width: 100%;
        font-size: 70px;
        text-align: center;
    }
    .home{
        position: relative;
        height: 100vh;
        justify-content: center;
    }
    .home__container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: fit-content;
    }
    .home__title, .home__dynamic__title, .home__description{
        text-align: center;
    }
    
    .home__image{
        position: absolute;
        width: 100%;
        z-index: -10;
        filter: blur(0);
        opacity: .6;
    }
    .home__buttons {
        width: min-content;
    }

    #about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .about__img{
        display: none;
    }
    .contact__form{
        margin: 0;

        width: 100%;
    }

    .contact__form input{
        width: 70%;
    }
    .contact__form  button{
        width: 60%;
    }
    .contact__form textarea{
        width: 90%;
    }

    .pin-spacer{
        width: 100%;
    }

    .knowledge__container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .contact__container img{
        display: none;
    }

    .contact__form{
        gap: 10px;
    }
    .contact__form label{
        display: none;
    }

    .about__container{
        width: auto;
    }

    .projects_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 80%;
    }

    .project_content{
        width: 100%;
    }

    .project_content a{
        font-size: 2.5rem;
    }

    .project_content_space{
        place-items: none;
        width: 80%;
    }

    .ai__container{
        width: 100%;
    }
}
@keyframes show{
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}