:root{
    --title-font: 'Noto Sans', sans-serif;
    --text-font: -apple-system, sans-serif;
    --cursive-font: 'Sfizia';
    --styled-font: 'Host Grotesk', sans-serif;
}
body{
    background-color: #1E1E1E;
}
body::-webkit-scrollbar{
    width: 0px;
    height: 0px;
    display: none;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 1px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

span, p, a, li, label{
    font-family: var(--text-font);
    color: #FFFFFF;
}

button{
    font-family: var(--text-font);
    text-decoration: none;
    padding: 10px 30px;
    text-align: center;
    border: 2px solid #FF5733;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
    color: #FFFFFF;
}

button:hover{
    background-color: #FF5733;
    color: #FFFFFF;
    transition: all 0.3s ease;
}

input::placeholder, textarea::placeholder{
    color: #FFFFFF;
    opacity: 0.5;
    font-family: var(--text-font);
    font-style: italic;
    text-align: center;
}

input:hover, textarea:hover{
    outline: 2px solid #FF5733;
    border: none;
    opacity: 0.75;
}

input:focus, textarea:focus{
    border: 2px solid #FF5733;
    outline: none;
    opacity: 1;
}

input, textarea{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 50%;
    margin: 0 auto;
    background-color: transparent;
    opacity: 0.4;
    border: none;
    outline: 2px solid #060606;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--title-font);
    color: #FFFFFF;
}

/* Navbar */

.navbar{
    display: flex;
    padding: 0.5cqi 2cqi;
    align-items: center;
    justify-items: center;
    list-style: none;
    width: fit-content;
    background-color: rgba(44, 44, 44, 0.5);
    -webkit-backdrop-filter: blur(40px) saturate(100%);
    backdrop-filter: blur(40px) saturate(100%);
    border-radius: 5rem;
    margin: 0.5cqi auto;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.nav__logo img{
    width: 3cqi;
    height: 3cqi;
    transition: all 0.15s ease;
}

.nav__logo img:hover{
    transform: scale(1.1);
}

.nav__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 1.5cqi;
    gap: 1.5cqi;
    list-style: none;
}

.nav__list li a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2cqi;
    transition: color 0.3s ease;
}

.nav__list li a:hover{
    color: #FF5733;
}

/* Home */

.title{
    position: relative;
    font-weight: bolder;
    font-size: 8.5cqi;
    letter-spacing: 0.1cqi;
    color: transparent;
    -webkit-text-stroke: 0.05rem #FFFFFF;
    cursor: default;
    transition: all 0.3s ease;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0.5cqi;
}

.title:hover{
    color: #FFFFFF;
    -webkit-text-stroke: -1px;
}

.home{
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}
.home__container{
    flex-direction: column;
    justify-items: center;
    padding: 0 4vw;
    width: 50%;
}
.home__title, .home__dynamic__title{
    font-size: 2.5cqi;
    font-weight: bold;
    margin: 0 auto;
    font-family: var(--styled-font);
}

#cursor {
    display: inline-block;
    margin-left: 5px;
    animation: blink 0.7s infinite; /* Animación para el parpadeo */
    margin: 0px;
}

#cursor[not-animated] {
    animation: none;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.home__lowerbunk{
    margin-top: 1cqi;
    position: relative;
    align-items: center;
    justify-items: center;
}

.home__description{
    font-size: 1.75cqi;
    font-family: var(--text-font);
}

.home__buttons{
    display: flex;
    flex-direction: row;
    gap: 0.75cqi;
}

.home__buttons > a{
    text-decoration: none;
    font-family: var(--styled-font);
    padding: 1.75vh 1.5vw;
    text-align: center;
    border: 0.15rem solid #FF5733;
    border-radius: 1.5rem;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.home__buttons > a:hover{
    background-color: #FF5733;
    color: #FFFFFF;
}

.home__image{
    width: 40vw;
    height: 90%;
    border-radius: 30px;
}

/* About us */

#about{
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
}

#about-content{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-height: 100vh;
    size: 50%;
}

.about__container{
    display: flex;
    flex-direction: column;
    padding-left: 3.5cqi;
    padding-right: 0;
    width: 30vw;
    margin: 0 auto;
    height: 120vh;
    border-radius: 30px;
    background-color: transparent;
}

#about-img{
    position: relative;
    width: 65vw;
    height: 100vh;
    border-radius: 15px;
    margin: 0 auto;
    opacity: 0;
    overflow: hidden;

    /* Tu configuración de fondo */
    background-image: linear-gradient(#FF5733, #FF5733);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 0% 100px;
    transition: background-size 0.5s ease;
}

#about-title{
    font-size: 5vi;
    margin: 0 auto;
    margin-bottom: 5vh;
    width: fit-content;
    -webkit-text-stroke: 1px #FFFFFF;
    color: #FFFFFF;
    transition: all 0.3s ease;
    cursor: default;
    opacity: 0;
}

#about-title:hover{
    color: transparent;
}

.about__text{
    font-size: 2.75cqi;
    opacity: 1;
}

.about__text .word{
    font-size: 2.75cqi;
    font-family: var(--styled-font);
    display: inline-block;
    opacity: 0;
    margin-right: 0.25em;
    color: transparent;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.025rem;
    transition: background-size 0s ease, color 0.3s ease;
    cursor: default;
}

#about-text-2-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
}

.about__text--2, .projects__endtext{
    font-size: 2.75cqi;
    opacity: 1;
}

.about__text--2 .word, .projects__endtext .word{
    margin-right: 0.25em;
    opacity: 0;
    color: transparent;
    font-size: 2.75cqi;
    font-family: var(--styled-font);
    display: inline-block;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.025rem;
    transition: background-size 0.5s ease, color 0.3s ease;
    cursor: default;
}

/* Projects */

#projects-title-container, #projects-end-text-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
}

.projects__title{
    text-align: center;
    font-size: 2.75cqi;
    opacity: 0;
    color: transparent;
    font-size: 2.75cqi;
    font-family: var(--styled-font);
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.025rem;
    cursor: default;
}

.projects_container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: row;
}

.project_icon{
    display: flex;
    margin-top: 3vh;
    width: 10vw;
    height: 10vh;
    opacity: 0.7;
}

.project_content_space{
    display: grid;
    place-items: center; /* ¡Magia! Centra todo en un solo paso */
    width: 60vh;
    height: 35vh;
    margin: auto 1vw;
    perspective: 50vi; /* Clave: da la sensación de profundidad 3D */
}

.project_content{
    background-color: rgba(44, 44, 44, 0.8);
    -webkit-backdrop-filter: blur(40px) saturate(100%);
    backdrop-filter: blur(40px) saturate(100%);
    border-radius: 3rem;
    opacity: 0;
    width: 100%;
    height: 100%;
    justify-items: center;
    text-align: center;
    transform-style: preserve-3d; /* Permite que los hijos tmb sean 3D */
    will-change: transform;
    overflow-x: hidden;
}

.project_content a{
    font-family: var(--title-font);
    font-size: 5cqb;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s ease;
    margin-top: 2.5cqb;
}

.project_content a:hover{
    transform: scale(1.2);
    color: rgb(77, 77, 206);
}

.project_content a:active{
    transform: scale(1.1);
    color: transparent;
    -webkit-text-stroke-color: rgb(47, 47, 169);
    -webkit-text-stroke-width: 0.03rem;
    transition: all 0.2s ease;
}

.project_description{
    position: absolute;
    justify-content: center;
    justify-items: center;
    text-align: center;
    bottom: 5vh;
}

.project_content p{
    font-family: var(--styled-font);
    font-weight: lighter;
    font-size: 1.3cqi;
    margin: auto 2vh;
}
/* Knowledge */

.knowledge{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

#knowledge-title-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
}

.knowledge__title{
    font-size: 2.75cqi;
    opacity: 1;
}

.knowledge__title .word{
    font-size: 2.75cqi;
    font-family: var(--styled-font);
    display: inline-block;
    opacity: 0;
    margin-right: 0.25em;
    color: transparent;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.025rem;
    transition: background-size 0s ease, color 0.3s ease;
    cursor: default;
}

.knowledge__container{
    font-size: 2.5cqi;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.knowledge__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 12.5cqi;
    max-width: 12.5cqi;
}

.knowledge__item img{
    opacity: 0;
    display: flex;
    margin: 0 auto;
    width: 10cqi;
    height: auto;
}

.knowledge__container .word{
    margin-top: 0;
    font-size: 2.5cqi;
    font-family: var(--styled-font);
    display: inline-block;
    opacity: 0;
    margin-right: 0.25em;
    color: transparent;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.025rem;
    transition: background-size 0s ease, color 0.3s ease;
    cursor: default;
}

/* AI */

#knowledge-tease-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
}

.knowledge__tease{
    font-size: 2.75cqi;
    opacity: 1;
}

.knowledge__tease .word{
    font-size: 2.75cqi;
    font-family: var(--styled-font);
    display: inline-block;
    opacity: 0;
    margin-right: 0.25em;
    color: transparent;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.025rem;
    transition: background-size 0s ease, color 0.3s ease;
    cursor: default;
}

.ai{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

#ai-title-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
}

.ai__title{
    font-size: 3.75cqi;
    opacity: 1;
    margin: 0;
}

.ai__title p{
    margin: 0;
    margin-top: 2cqi;
    margin-bottom: 2cqi;
}

.ai__title .word{
    font-size: 3.75cqi;
    font-family: var(--styled-font);
    display: inline-block;
    opacity: 0;
    margin-right: 0.25em;
    color: transparent;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.025rem;
    transition: background-size 0s ease, color 0.3s ease;
    cursor: default;
}

#ai-content{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-height: 100vh;
    size: 50%;
}

.ai__container{
    display: flex;
    flex-direction: column;
    padding-left: 3.5cqi;
    padding-right: 0;
    width: 30vw;
    margin: 0 auto;
    height: 120vh;
    border-radius: 30px;
    background-color: transparent;
}

#ai-img{
    position: relative;
    width: 65vw;
    height: 100vh;
    border-radius: 15px;
    margin: 0 auto;
    opacity: 0;
    overflow: hidden;

    /* Tu configuración de fondo */
    background-image: linear-gradient(#FF5733, #FF5733);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 0% 100px;
    transition: background-size 0.5s ease;
}

.ai__text{
    font-size: 2.75cqi;
    opacity: 1;
}

.ai__text .word{
    font-size: 2.75cqi;
    font-family: var(--styled-font);
    display: inline-block;
    opacity: 1;
    margin-right: 0.25em;
    color: transparent;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.025rem;
    transition: background-size 0s ease, color 0.3s ease;
    cursor: default;
}

/* Contact */

.contact{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 24);
    margin-bottom: 20px;
    border-radius: 5px;
    width: 90%;
    height: 300px;
}

.contact__form{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90%;
    align-items: center;
    justify-content: space-around;
}

.contact__form label{
    width: 0px;
    height: 0px;
    display: none;
}

.contact_form_text input textarea{
    padding: 3px;
    width: 80%;
    font-family: var(--styled-font);
}

.contact_form_text{
    font-family: var(--styled-font)
}

.contact_form_text:focus{
    font-family: var(--styled-font);
}

.contact__form button{
    width: 50%;
}

.contact__container textarea{
    resize: none;
}

.contact_form_text::-webkit-scrollbar{
    width: 0px;
    height: 0px;
    display: none;
}

/* Footer */

#copyright-footer{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
}

footer{
    background-color: #000000;
    border-radius: 15px 15px 0 0;
}

/*         WORD-PRESETS            */
.word[alreadyAnimated]{
    color: white;
}

.word[underline]{
    background-image: linear-gradient(#FF5733, #FF5733);
    background-position: 0 100%; /* Abajo a la izquierda */
    background-repeat: no-repeat;
    background-size: 0% 0.05em; /* Arranca con 0% de ancho */
}

.word[underline][alreadyAnimated]{
    background-size: 100% 0.05em;
}

.word[highlight]{
    -webkit-text-stroke-color: #FF5733;
}

.word[highlight][alreadyAnimated]{
    color: #FF5733;
}

.word[clear]{
    color: transparent;
}

.word[clear][alreadyAnimated]{
    --x: 50%; /* Posición inicial del brillo */
    color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    
    /* Gradiente tipo 'radial' para que parezca un foco de luz */
    background: radial-gradient(
        circle at var(--x) 10%, 
        rgba(255, 255, 255, 0.2) 0%, 
        rgba(255, 255, 255, 0.2) 30%, 
        transparent 100%
    );
    
    -webkit-background-clip: text;
    background-clip: text;
    
    /* Borde de la letra para que se note el relieve */
    -webkit-text-stroke: 0.02rem rgba(255, 255, 255, 0.3);
}

.word[clear][alreadyAnimated]:hover{
    /* Color de base transparente para que se vea el fondo */
    color: rgba(255, 255, 255, 0.1);
}

.word:hover, .word[alreadyAnimated]:hover{
    color: transparent;
}

@media screen and (max-width: 745px) {
    .title{
        width: 100%;
        font-size: 70px;
        text-align: center;
    }
    .home{
        position: relative;
        height: 100vh;
        justify-content: center;
    }
    .home__container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: fit-content;
    }
    .home__title, .home__dynamic__title, .home__description{
        text-align: center;
    }
    
    .home__image{
        position: absolute;
        width: 100%;
        z-index: -10;
        filter: blur(0);
        opacity: .6;
    }
    .home__buttons {
        width: min-content;
    }

    #about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .about__img{
        display: none;
    }
    .contact__form{
        margin: 0;

        width: 100%;
    }

    .contact__form input{
        width: 70%;
    }
    .contact__form  button{
        width: 60%;
    }
    .contact__form textarea{
        width: 90%;
    }

    .pin-spacer{
        width: 100%;
    }

    .knowledge__container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .contact__container img{
        display: none;
    }

    .contact__form{
        gap: 10px;
    }
    .contact__form label{
        display: none;
    }
}

@keyframes show{
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}